html, body {
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

iframe {
    display: block;
    background: #fff;
    border: none;
    height: 100vh;
    width: 100vw;
}

.spinner {
    display: block;
    border-top: 1.1rem solid rgba(255, 255, 255, 0.5);
    border-right: 1.1rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 1.1rem solid rgba(255, 255, 255, 0.5);
    border-left: 1.1rem solid rgba(0, 0, 0, 0.8);
    animation: spin 1.1s infinite linear;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
}

.spinner, .spinner:after {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

@keyframes spin {
    0% {
        backface-visibility: hidden;
        transform: rotate(0deg) scale(1.0, 1.0);
    }
    100% {
        backface-visibility: hidden;
        transform: rotate(360deg) scale(1.0, 1.0);
    }
}